{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!DOCTYPE html>
<br lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container">

<br>
<!--treść pytań:-->

<br>
<!--ile pytań : {{ ile }}</br>-->
{% if nr_pytania %}
<h2>{{ nr_pytania }}</h2>
    <h2>{{ nr_pytania.tresc }}</h2>


{% else %}
    <p>nie ma takiego pytania.</p>
{% endif %}


{% if odps %}
<!--{{ odps }}-->

{% if nr_pytania.id < ile %}
    <form action="{% url 'Zapisz2' nr_pytania.id|add:1 %}" method="post">
    {% else %}
       <form action="{% url 'Zapisz2' nr_pytania.id %}" method="post">
           {% endif %}

    {% csrf_token %}

    {% for o in odps %}<h2>
    <input type="radio" name="o" id="o{{ forloop.counter }}" value="{{ o.id }}">
    <label for="o{{ forloop.counter }}">{{ o.odps2 }}</label><br></h2>
{% endfor %}

{% if nr_pytania.id < ile %}
    <input type="submit" value="Zapisz"><br><br>
    <a href="{{ nr_pytania.id|add:1  }}  "><b>dalej bez zapisywania</b></a>
{% else %}
           <input type="submit" value="Zapisz"><br><br>
    <a href="{% url 'results' ile %} "><b>POKAŻ PUNKTACJE</b></a><br><br>
    <!--<a href="{% url 'wynik' %}"><b>POKAŻ MOJĄ OSOBOWOŚĆ</b></a>-->
{% endif %}

    </form>

{% else %}
    <p>nie ma odpowiedzi.</p>
{% endif %}


</div>
</body>
</html>