{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container">
    <div id="obraz2">
        <img width = 300px src="{% static 'postac.jpg'%}" alt="">
    </div>
    <div id="opis">
<h1>Witaj w teście osobowości.</h1>
<h2>Wkrótce dowiesz się, kim naprawdę jesteś.</h2>
<br><br><br>
{% if pytania %}

<a href="1"><b>ROZPOCZNIJ TEST</b></a>

{% else %}
    <p>nie masz pytań. Dodaj je.</p>
{% endif %}
        </div>

</div id="container">
</body>
</html>