<!DOCTYPE html>
<html lang="en">
{% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container">
    <div id="obraz">
        <img width = 300px border="20px" src="{% static 'king2.jpg'%}" alt="">
    </div>
    <div id="opis">
        <h2>Twoja osobowość to</h2>
        <h1>KRÓL</h1><br>
        <h2>Potężny, mądry, surowy ale sprawiedliwy.
        Od Twoich decyzji zależą losy świata. Ludzie szanują Cię. Kochają Cię. Możesz pozbawić życia.
            Mądrze okazujesz władzę.<h2> Okaż łaskę.</h2>
        <h2> Bodź kochany. </h2>
        <h2> Bądź pamiętany!</h2>
    </div id="container">
</div>
</body>

</html>