<!DOCTYPE html>
<html lang="en">
{% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container">
    <div id="obraz">
        <img width = 300px border="20px" src="{% static 'blazen.jpg'%}" alt="">
    </div>
    <div id="opis">
        <h2>Twoja osobowość to</h2>
        <h1>NAJWIĘKSZY Z BŁAZNÓW</h1><br>
        <h2>Głupcem zrodzony, głupcami zarządza, przez głupców prowadzonym będąc. Głupota ludzka z niczym równać się nie może.</h2>
    </div id="container">
</div>
</body>

</html>